@import "tailwindcss";

@keyframes glitch {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  20% {
    transform: translate(-5px, 3px);
    clip-path: inset(50% 0 20% 0);
  }
  40% {
    transform: translate(3px, -2px);
    clip-path: inset(20% 0 60% 0);
  }
  60% {
    transform: translate(-4px, 2px);
    clip-path: inset(80% 0 5% 0);
  }
  80% {
    transform: translate(4px, -3px);
    clip-path: inset(30% 0 45% 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes glitch-reverse {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  20% {
    transform: translate(4px, -3px);
    clip-path: inset(30% 0 45% 0);
  }
  40% {
    transform: translate(-4px, 2px);
    clip-path: inset(80% 0 5% 0);
  }
  60% {
    transform: translate(3px, -2px);
    clip-path: inset(20% 0 60% 0);
  }
  80% {
    transform: translate(-5px, 3px);
    clip-path: inset(50% 0 20% 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}

.animate-glitch {
  animation: glitch 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animate-glitch-reverse {
  animation: glitch-reverse 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse
    both;
}
